@import '@/styles/mixins';
@import '@/styles/constants';

.header {
  position: relative;
  color: white;
  background-color: teal;
}

.container {
  display: grid;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: rem(16);
}

.navList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: rem(50);
  padding: 0 rem(16);
  &:hover {
    background-color: rgb(52, 132, 132);
  }
}

.logoLink {
  display: flex;
  align-items: center;
  min-height: rem(50);
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $mobile) {
  .nav {
    justify-content: center;
  }
  .navList {
    width: 100%;
    > * {
      flex-grow: 1;
    }
  }
  .navLink {
    padding: 0 rem(8);
    justify-content: center;
  }
}
